body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#fff3e5;
    color: #ff8e00;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 600px;
    margin: 20px auto;
}

.carrito-lista {
    list-style: none;
    padding: 0;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total {
    font-weight: bold;
}
button{
    background-color: #ff8e00;   
    color: white;
    border: none;
    padding: 10px 20px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;

}