body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #ff8e00;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.carrito-lista {
    margin-top: 20px;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.total {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

button {
    background-color: #ff8e00;
    color: white;
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

button.regresar-carrito a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.eliminar-item {
    color: #fff;
    background-color: #ff8e00;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.eliminar-item:hover {
    background-color: #f44336;
}

button:hover {
    background-color: #ffab4f;
}
