
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif; 
}


header {
    background-color: #fff3e5; 
    padding: 10px; 
}

nav ul {
    list-style-type: none;
    display:flex;
    gap: 20%; 
    font-weight: 500;

}

nav a {
    text-decoration: none; 
    
}

main {
    padding: 20px; 
}

#txt {
    margin-bottom: 20px; /* Add spacing between sections */
}

/* Style the individual sections for Juanes, Andrea, and Sebastian */
section div {
    text-align: center; /* Center text within each section */
    margin-bottom: 20px; /* Add spacing between sections */
}
#nosotros{
    display: flex;
    gap: 10%;
    align-items: center;
    
}

/* Optionally, you can add specific styles for images within sections */
section img {
    border-radius: 50%; /* Apply a rounded border to images */
    margin-bottom: 10px; /* Add some spacing below images */
}
