
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif; 
}

header {
    background-color: #fff3e5;
    text-align: left; 
    
}

header img {
    width: 100px; /* Ancho del logo */
    height: 64px; /* Altura del logo */
}

nav a {
    text-decoration: none;
    color: #ff8e00; 
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 10px;
    padding-right: 10%;
    line-height: 24px;
    display: inline-block;

}

nav a:hover {
    color: #ffcc00; /* Color del texto de los enlaces de navegación al pasar el cursor por encima */
}

main {
    padding: 20px; 
}

#txt {
    margin-bottom: 20px; 
    
}

section div {
    text-align: center; 
    margin-bottom: 20px; 
}

#nosotros{
    display: flex;
    gap: 10%;
    align-items: center;
    
}


section img {
    border-radius: 50%; 
    margin-bottom: 10px; 
}
