
header {
    background-color: #fff3e5;
    text-align: center; /* Centrar el contenido del header */
}

header img {
    width: 100px; /* Ancho del logo */
    height: 64px; /* Altura del logo */
}

nav a {
    text-decoration: none;
    color: #ff8e00; /* Color del texto de los enlaces de navegación */
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px;
    line-height: 24px;
    display: inline-block;
    margin: 0;
    ;
}

nav a:hover {
    color: #ffcc00; /* Color del texto de los enlaces de navegación al pasar el cursor por encima */
}
p{
    font-size: 40px;
    padding: 10px 20px;
   
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    height: 80vh
}


