/* Estilos para el contenido principal */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Dos columnas de alimentos con un ancho mínimo de 300px */
    gap: 20px;
    padding: 20px;
}

.alimento {
    background-color: #fff3e5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.alimento h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.alimento img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10%;
}

.alimento p {
    font-size: 16px;
    margin-bottom: 10px;
}

.alimento .precio {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para el aside */
aside {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px;
    overflow-y: auto;
}

/* Estilos para el carrito */
.carrito {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    max-height: 80vh;
    padding: 20px;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.total {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

button {
    background-color: #ff8e00;
    color: white;
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

button.regresar-carrito a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.eliminar-item {
    color: #fff;
    background-color: #ff8e00;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.eliminar-item:hover {
    background-color: #f44336;
}

button:hover {
    background-color: #ffab4f;
}

/* Media query para cambiar el layout cuando el ancho de la pantalla es menor */
@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Una columna en pantallas más pequeñas */
    }

    aside {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        max-width: none;
    }
}
