header {
    background-color: #fff3e5;
    text-align: left; 
}

header img {
    width: 140px; 
    height: 120px; 
    margin-right: 20px;
}
.h2 {
    font-size: 30 px;
    text-align: center;

}
nav a {
    text-decoration: none;
    color: #ff8e00; 
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px;
    line-height: 24px;
    display: inline-block;
    margin: 0;
}

p {
    font-size: 40px;
    padding: 10px 20px;
}

.alimentos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.alimento {
    background-color: #fff3e5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.alimento h3 {
    font-size: 20px;
    margin-bottom: 10px; 
   }

.alimento img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.alimento p {
    font-size: 16px;
    margin-bottom: 10px;
}

.alimento .precio {
    font-size: 18px;
    font-weight: bold;
}

/* Clearfix para manejar floats */
main::after {
    content: "";
    display: table;
    clear: both;
}

button {
    background-color: #ff8e00;
    color: white;
    border: none;
    padding: 10px 20px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.agregar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content; /* Puedes ajustar el ancho según sea necesario */
    height: fit-content; /* Puedes ajustar la altura según sea necesario */
    font-size: 16px; /* Puedes ajustar el tamaño de fuente según sea necesario */
}

.agregar-carrito:active {
    background-color: #ffcc18; /* Verde oscuro cuando se hace clic */
}
